body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.navbar{
    border: solid 1px blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}
header {
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

header img {
    max-width: 200px;
    margin: 0 20px;
}

nav {
   //background-color: #444;
    padding: 10px;
    text-align: center;
    width: 30%;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.services, .contact {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}