body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}

a{
    text-decoration: none;
    color: blue;
    padding:0 0 0 10px;
    font-size:1em;
    font-weight: bold;
}

.navbar{
    //border: solid 1px blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}
header {
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

header img {
    max-width: 200px;
    margin: 0 20px;
}

nav {
    padding: 10px;
    text-align: center;
    width: 30%;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.services, .contact {
    margin-bottom: 20px;
}

.contact{
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h2{
    //border:solid red 1px;
    display: flex;
    justify-content: center;

}



/*class images des bennes*/
.images{
//border: solid 1px black;
display: flex;
flex-direction: row;
justify-content: center;

}
.images img{
    width: 30%;
    height: 300px;
    object-fit: cover;
    margin: 10px;
}

footer {
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}


/* Styles de base pour les écrans de téléphone */
@media all and (max-width: 768px) {
    header {
        flex-direction: row;
        width: 70%;
        border: solid 2px green;
    }

    header img {
        margin: 20px 0;
        width: 100px;
    }

    nav {
        width: 100%;
    }
h1{
    font-size: 1em;
}

.tel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

h2{
    font-size: 1em;
    width: 100%;
    border: solid 1px blue;
}

.tel a{
    border: solid 1px black;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    width: 45%;
    font-size: 0.8em;
}
p{
    font-size: 0.8em;
}
    .images{
        flex-direction: column;
}
    .images img{
        width: 100%;
        height: 200px;
    }
    nav {
        margin: 0 10px;
        width: 30%;
        display: flex;
        flex-direction: row;
        border: solid 2px blue;

    }
    
}
